*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
}
 html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
}

canvas{
    overflow: hidden;
    height: 100vh;
}

.firstDiv{
  background-color: black;
  overflow: hidden;
}

.hello{
  background-color: white;
}
